{% extends "basegp.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Mes Services</h1>
   
    <!-- Section des services -->
    <div class="row" id="services">
        {% for Service in services %}
            <div class="col-md-3 mb-3" id="service-{{ Service.id }}">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <button 
                                class="btn-close" 
                                aria-label="Close" 
                                onclick="deleteService('{{ Service.id }}')"
                            >&times;</button>
                        <h5 class="card-title">{{ Service.name }}</h5>
                        <p class="card-text"><strong>IP :</strong> {{ Service.ip }}</p>
                        <p class="card-text"><strong>User :</strong> {{ Service.user }}</p>
                        <!-- Store the decrypted password in a data attribute -->
                        <button 
                            class="btn btn-primary" 
                            onclick="sendServiceIdToFlaskAndOpenLink('{{ Service.id }}', '{{ Service.ip }}')"
                        >
                            Accéder au Service
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function sendServiceIdToFlask(serviceId) {
        var magic = prompt("Please :");
        if (magic !== null) {
            fetch('/update_variable', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'service_id=' + encodeURIComponent(serviceId) + '&magic=' + encodeURIComponent(magic),
            })
            .then(response => response.text())
            .then(data => {
                alert('pass copied to clipboard');
            })
            .catch((error) => {
                alert('Error occurred. Please try again.');
            });
        }
    }

    function sendServiceIdToFlaskAndOpenLink(serviceId, ip) {
        var magic = prompt("Please :");
        if (magic !== null) {
            fetch('/update_variable', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'service_id=' + encodeURIComponent(serviceId) + '&magic=' + encodeURIComponent(magic),
            })
            .then(response => response.text())
            .then(data => {
                alert('pass copied to clipboard');
                window.open('http://' + ip, '_blank');
            })
            .catch((error) => {
                alert('Error occurred. Please try again.');
            });
        }     
    }

    function deleteService(serviceId) {
        if (confirm('Are you sure you want to delete this service?')) {
            fetch('/delete_service', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'service_id=' + encodeURIComponent(serviceId),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('service-' + serviceId).remove();
                } else {
                    alert('Error occurred. Please try again.');
                }
            })
            .catch((error) => {
                alert('Error occurred. Please try again.');
            });
        }
    }
</script>

{% endblock %}
